{% extends 'base.html' %}

{% block title %}
  Market Page
{% endblock %}

{% block content %}

  <div class="row" style="margin-top: 20px; margin-left: 20px;">
    <div class="col-8">
      <h2>Available Items</h2>
      <p>Click on any items to start buying.</p>
      <br>
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">BARCODE</th>
                <th scope="col">PRICE</th>
                <th scope="col">OPTIONS</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
              {% for item in items %}
                {% include 'includes/items_modal.html' %}
                <tr>
                    <td>{{ item['id'] }}</td>
                    <td>{{ item["name"] }}</td>
                    <td>{{ item["barcode"] }}</td>
                    <td>{{ item.price }}$</td>
                    <td>
                      <button class="btn btn-outline btn-info" data-toggle='modal' data-target='#Modal-MoreInfo-{{ item.id }}'>MORE INFO</button>
                      <button class="btn btn-outline btn-success" data-toggle='modal' data-target="#Modal-PurchaseConfirm-{{ item.id }}">BUY</button>
                    </td>
                </tr>
              {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h2>Owned Items</h2>
      <p>Click on sell to put the item back to Market</p>
      <br>
    </div>
  </div>
{% endblock %}