.parent .child1 i {
    width: 120px;
    height: 120px;
    display: inline-block;
    text-align: center;
    line-height: 120px;
    background: rgba(215, 216, 215, 0.4);
    font-size: 80px;
    border-radius: 50%;

}

#flaticon:before{ 
    margin-left: 0;
    font-size: 80px;
    color: #fed400;
}